@font-face{
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-SemiBold.f3ed44cd.ttf') format('truetype');
}

@font-face{
    font-family:'Mazius';
    src: url('./fonts/Mazius-Extraitalic.121a71a7.otf') format('opentype');
}

@font-face {
    font-family: 'Gilroy-medium';
    src: url('./fonts/Gilroy-Medium.e7e7c091.ttf') format('truetype');
}

*{
    margin:0;
    padding:0;
    font-family:'Gilroy-medium';
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
}

#main{
    width:100%;
}

#loader{
    position:absolute;
    width:100%;
    height:100vh;
    background-color:#111;
    color:#fff;
}

#loader h1{
    display:flex;
    justify-content:center;
    width:100%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:5vw;
    font-weight:lighter;
}

.reveal .parent{
    display: flex;
    width:100%;
    justify-content: center;
    overflow-y:hidden;
}

.reveal .parent .child{
    display:block;

}
.child span{
    display:inline-block;
}

#loader #mak{
    font-family:'Mazius';
    color:#14CF93
}

#loader #top-heading{
    position:absolute;
    top:5%;
    left:50%;
    transform:translate(-50%,0);
}

#top-heading h5{
    text-transform:uppercase;
    font-size:11px;
    font-weight:50px;
    text-align:center;
}

#green{
    position:absolute;
    top:100%;
    width:100%;
    height:0vh;
    background-color:#14CF93;
}

#home{
    width:100%;
    height:200vh;
    background-color: #fcfaf8;
}

#home #nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:0 5vw;
    width:100%;
    height:100px;
}

#nav a{
    position:relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:300;
    font-size:14px;
    color:#111;
}

#nav a .line{
    position:absolute;
    bottom:0;
    display:inline-block;
    /* width:100%; */
    height:1px;
    background-color: #111;
}

#line1{
    left:0;
    width:0%;
    transition:all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0.1s;
}

#line2{
    right:0;
    width:100%;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#nav a:hover #line1{
    width:100%;
}

#nav a:hover #line2{
    width: 0%;
}
